@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
/*
    STYLE 01 Default
*/
#gotoTop {
    position: fixed;
    bottom: 40px;
    right: 80px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}

.idnkgtp-style-default .idnkgototopcss{
    position: relative;
    z-index: 12000;
}

.idnkgtp-style-style01 .pulse-to-top {
    right: 75px;
    bottom: 35px;
    border-radius: 50%;
    background-color: var(--blue);
    width: var(--pulseSize);
    height: var(--pulseSize);
    position: fixed;
    opacity: 0;
    animation: scaleIn 5s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    z-index: 100;
}

@keyframes scaleIn {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}
/*
    STYLE 02
*/
.idnkgtp-style-style02 .button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: block;
    width: var(--pulseSize);
    height: var(--pulseSize);
    border-radius: 50%;
    background-color: var(--blue);
    box-shadow: 0 0 0 0 rgb(255 255 255 / 10%);
    animation: pulse 1s ease-in-out infinite;
    cursor: pointer;
    z-index: 10000;
}

.idnkgtp-style-style02 .button:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgb(255 255 255 / 10%);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 10%);
  }
}
/*
    STYLE 03
*/
.idnkgtp-style-style03 .idnkgototopcss{
    position: relative;
    z-index: 12000;
}

.idnkgtp-style-style03 .btn-top {
    background-color: var(--blue);
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 0.375rem;
    color: inherit;
    cursor: pointer;

    box-shadow: 0 0 0 0 #fff;
    animation: pulsate 2s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1.25);
        box-shadow: 0 0 0 0 var(--blue);
    }

    75% {
        transform: scale(1);
        box-shadow: 0 0 0 8px var(--blue);
    }

    100% {
        transform: scale(1.45);
        box-shadow: 0 0 0 0 var(--blue);
    }
}
/*
    STYLE 04
*/
.idnkgtp-style-style04 .idnkgototopcss{
    position: relative;
    bottom: 0;
}

.idnkgtp-style-style04 .pulse-to-top {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: var(--pulseSize);
    height: var(--pulseSize);
    background: var(--blue);
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: animate04 2s linear infinite;
    z-index: 1200;
}

@keyframes animate04 {
    0% {
        box-shadow: 0 0 0 0 var(--blue), 0 0 0 0 var(--transparentBlue);
    }

    40% {
        box-shadow: 0 0 0 50px var(--transparentBlue), 0 0 0 0 var(--blue);
    }

    80% {
        box-shadow: 0 0 0 50px var(--transparentBlue), 0 0 0 30px var(--transparentBlue);
    }

    100% {
        box-shadow: 0 0 0 0 var(--transparentBlue), 0 0 0 30px var(--transparentBlue);
    }
}
/*
    STYLE 05
*/
.idnkgtp-style-style05 .idnkgototopcss{
    position: relative;
    bottom: 8px;
}

.idnkgtp-style-style05 .box-to-top {
    width: var(--pulseSize);
    height: var(--pulseSize);
    background: var(--blue);
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    animation: animate05 2s linear infinite;
    cursor: pointer;
}

@keyframes animate05 {
    0% {
        box-shadow: 0 0 0 0 var(--blue);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 26, 67, 0);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
    }
    100% {
        box-shadow: 0 0 0 rgba(255, 206, 67, 0);
    }
}
/*
    STYLE 06
*/
.idnkgtp-style-style06 .pulse-to-top {
    width: var(--pulseSize);
    height: var(--pulseSize);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    animation: animate06 2s linear infinite;
    transform: scale(0.8);
}

@keyframes animate06 {
  0% {
    box-shadow: 0 0 0 0 var(--blue), 0 0 0 0 var(--blue);
    /*     filter: hue-rotate(0deg); */
  }
  40% {
    box-shadow: 0 0 0 3rem var(--transparentBlue),
      0 0 0 0 var(--blue);
  }
  80% {
    box-shadow: 0 0 0 2rem var(--transparentBlue),
      0 0 0 2rem var(--transparentBlue);
  }
  100% {
    box-shadow: 0 0 0 0 var(--transparentBlue), 0 0 0 1rem var(--transparentBlue);
    /*     filter: hue-rotate(360deg); */
  }
}
/*
    STYLE 07
*/
.idnkgtp-style-style07 .pulse-to-top {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  animation: pulse07 1500ms infinite;
}
@keyframes pulse07 {
  0% {
    box-shadow: 0 0 0 0 var(--blue);
  }
  100% {
    box-shadow: 0 0 0 17px var(--transparentBlue);
  }
}
/*
    STYLE 08
*/
.idnkgtp-style-style08 .pulse-to-top {
  width:60px;
  height:60px;
  border-radius:50%;
  background:white;
  position:relative;
  box-shadow:0 0 60px 10px white;
}

.idnkgtp-style-style08 .pulse-to-top::before{
  content:"";
  position:absolute;
  inset:0;
  border:1px solid white;
  border-radius:50%;
  animation-name:pulse08;
  animation-duration:2s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  box-shadow: 0 0 10px 2px var(--blue);
}

.idnkgtp-style-style08 .pulse-to-top::after{
  content:"";
  position:absolute;
  inset:0;
  border:1px solid white;
  border-radius:50%;
  animation-name:pulse08;
  animation-duration:2s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-delay:1s;
  box-shadow: 0 0 10px 2px var(--blue);
}

@keyframes pulse08 {
  0%{
    transform:scale(1);
    opacity:0;
  }
  10%{
    opacity:1;
  }
  100%{
    transform:scale(2.3);
    opacity:0;
  }
}
/*
    STYLE 09
*/
.idnkgtp-style-style09 .animate-wiggle {
  border: 2px solid;
  border-radius: 10px;
  -webkit-animation: wiggle 1s infinite;
  animation: wiggle 1s infinite;
}

.idnkgototopcontent.idnkgtp-style-style09 a{
    color: var(--blue);
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    transform: scale(1.2) rotate(7deg);
  }

  50% {
    transform: scale(0.8) rotate(-7deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: scale(1.2) rotate(7deg);
  }

  50% {
    transform: scale(0.8) rotate(-7deg);
  }
}
/*
    STYLE 10
*/
.idnkgtp-style-style10 .pulse-to-top {
  
  border-radius: 50%;
  animation: pulsing 2s infinite;
  transition: all 0.2s;
  cursor: pointer;
}

.idnkgtp-style-style10 .pulse-to-top:active {
  transform: scale(1.5);
}

@keyframes pulsing {
  from {
    box-shadow: 0 0 0 0 var(--blue);
  }
  70% {
    box-shadow: 0 0 0 var(--pulseSize) var(--transparentBlue);
  }
  to {
    box-shadow: 0 0 0 0 var(--transparentBlue);
  }
}
/*
    STYLE 11
*/

.idnkgtp-style-style11 .pulse-to-top {
  font-weight: bold;
  letter-spacing: 0.1rem;
  width: var(--pulseSize);
  height: var(--pulseSize);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1.5s linear 0s infinite normal pulse11;
}

.idnkgtp-style-style11 .pulse-to-top:hover {
  animation: none;
}

@keyframes pulse11 {
  0% {
    transform: scale(0.9);
    box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 0px var(--blue);
  }
  30% {
    box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 25px var(--blue);
  }
  70% {
    box-shadow: 0px 1px 0px 3px #aba81a30, 0px 0px 0px 75px var(--transparentBlue);
  }
  100% {
    transform: scale(1);
    box-shadow: 1px 1px 3px 1px #aba81a30, 0px 0px 0px 100px transparent;
  }
}